<ion-header>
  <ion-toolbar>
    <ion-title>
      Auth
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="padding: 15px">
    <h1>Firebase Auth Demo</h1>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <h2>Register</h2>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input clearInput [(ngModel)]="registerEmail"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input clearInput type="password" [(ngModel)]="registerPassword"></ion-input>
          </ion-item>
          <ion-button (click)="register()" style="margin-top: 10px" size="large" expand="block" shape="round" fill="outline" color="dark">Register</ion-button>
        </ion-col>
        <ion-col size="6">
          <h2>Login</h2>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input clearInput [(ngModel)]="loginEmail"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input clearInput type="password" [(ngModel)]="loginPassword"></ion-input>
          </ion-item>
          <ion-button (click)="login()" style="margin-top: 10px" size="large" expand="block" shape="round" fill="outline" color="dark">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card *ngIf="loggedIn()" style="padding: 15px">
    <h2>You are logged in! Now log out.</h2>
    <ion-button (click)="logout()" style="margin-top: 10px" size="large" expand="block" shape="round" fill="outline" color="dark">Log Out</ion-button>
  </ion-card>
</ion-content>
